* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: royalblue;
}

h1 {
  font-size: 55px;
  font-weight: 800;
}

.gameZone {
  width: 700px;
  min-height: 550px;
  background-color: gray;
  border: 10px solid black;
  margin: 10px auto;
}

.levelZone {
  width: 500px;
  height: 70px;
  margin: 10px auto;
}

.restartZone {
  width: 500px;
  height: 120px;
  margin: 10px auto;
}

.undoBtn,
.levelBtn {
  font-size: 30px;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 60px;
  cursor: pointer;
  background-color: royalblue;
}

.levelBtn {
  width: 150px;
  height: 60px;
}

.undoBtn {
  width: 155px;
  height: 63px;
  margin: 10px;
}

.smileyBtn {
  width: 80px;
  height: 80px;
  font-size: 45px;
  font-weight: 600;
  border-radius: 30%;
  cursor: pointer;
  background-color: royalblue;
}

.lives {
  height: 63px;
  width: 155px;
  padding: 5px;
  margin: 10px;
  margin-bottom: 0;
  display: inline-block;
  font-size: 32px;
  border: 5px solid black;
  border-radius: 50px;
}

table {
  margin: 0 auto;
  /* padding: 10px; */
  border: 4px solid black;
  border-radius: 10px;
}

.cell {
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: royalblue;
  border: 2px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.mineCounter {
  width: 200px;
  height: 50px;
  margin: 10px auto;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  background-color: royalblue;
  border: 3px solid black;
  border-radius: 60px;
}

.footer {
  font-size: 33px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 100px;
}

.shown {
  background-color: blue;
}

.exploded {
  background-color: red;
}

.loss {
  border: 5px solid black;
}
